.treknav {
    background-color: #89B6A5 !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4C3B4D;
  --bs-btn-border-color: #4C3B4D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #29212A;
  --bs-btn-hover-border-color: #4C3B4D;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4C3B4D;
  --bs-btn-active-border-color: #4C3B4D;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4C3B4D;
  --bs-btn-disabled-border-color: #4C3B4D;
  width: 100%;
}

button a {
  color: #fff;
  text-decoration: none
}